<div class="card">

	<h1 class="card-title">
		{{ include.content.title }}
	</h1>

	{% if include.content.image %}
	<div class="card-image-wrapper">
		<img 	class="card-image"
	  			src="{{ site.baseurl }}/{{ include.content.image }}"
	   			alt="Image for the card {{ include.content.title}}">
	</div>
	{% endif %}

	{% if include.content.tags %}
		<ul class="card-tags">
			{% for item in include.content.tags %}
			<li class="card-tag">
				{{ item.tag }}
			</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if include.content.text %}
		<div class="card-text">
			{% for item in include.content.text %}
			<p class="card-paragraph">
				{{ item.paragraph }}
			</p>
			{% endfor %}
		</div>
	{% endif %}

	{% if include.content.link %}
		<div class="card-link-wrapper">
			<a	class="link blue-link button-link light-background card-link"
	  			href="{{ include.content.link.target }}"
				target="_blank"
	  			title="{{ include.content.link.text }}"
				{% if include.content.link.afterText %}
					style="--after-image:
						url('{{ site.baseurl }}/{{ include.content.link.icon }}')"
	 			{% else %}
					style="--before-image:
						url('{{ site.baseurl }}/{{ include.content.link.icon }}')"
				{% endif %}
			>
				{{ include.content.link.text }}
			</a>
		</div>
	{% endif %}

</div>
