<footer class="page-footer {{ include.class }}">
	<div class="page-footer-partnerships-wrapper">
		<div class="page-footer-partnership">
			<img	src="{{ site.baseurl }}/assets/images/logo-itowns.png"
					alt="iTowns logo">
		</div>
		<div class="page-footer-partnership">
			<img	src="{{ site.baseurl }}/assets/images/logo-ign.png"
					alt="IGN logo">
		</div>
		<div class="page-footer-partnership">
			<img 	src="{{ site.baseurl }}/assets/images/logo-ciril.png"
					alt="Ciril Group logo">
		</div>
	</div>
	<div class="page-footer-links-wrapper">
		<a	class="link page-footer-link"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Legal notices">
			Legal
		</a>
		<a	class="link page-footer-link"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Accessibility">
			Accessibility
		</a>
		<a	class="link page-footer-link"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Site map">
			Site map
		</a>
	</div>
</footer>
